.main_name {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    flex-direction: column;
}

a {
    color: #74c6ad;
}

a:hover {
    color: #3e987d;
}

#name {
    font-size: 46px;
    font-weight: 700;
}

#email {
    font-size: 18px;
    color: #cacaca;
    font-weight: 700;
}

.brief_detail {
    display: flex;
    font-size: 18px;
    color: #ebebeb;
    margin-top: 20px;
    flex-direction: row;
}

.brief_detail > div {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.brief_detail > div > div > a {
    font-size: 16px;
}

.brief_detail > .detail {
    color: #cbcbcb;
}

#subject_image {
    display: flex;
    max-height: 35vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#subject_image > img {
    max-height: 80%;
    transition: transform .2s;
}

.news, .testimonials {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.news > div, .testimonials > div {
    display: flex;
    flex-direction: row;
}

#news_div {
    padding: 20px;
    padding-top: 0px;
    max-height: 35vh;
    color: #e0e0e0;
    overflow-y: auto;
}

#news_div::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

#news_div::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#news_div::-webkit-scrollbar-thumb {
  background-color: #3e987d;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

li {
  margin: 3px 0;
}

.title {
    width: 100%;
    font-size: 28px;
    color: #efefef;
    padding-left: 8%;
}

#testimonials_div {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body {
    text-align: justify;
    max-width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width: 1800px) {
    .body {
        max-width: 75%;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .brief_detail {
        padding-left: 140px;
        padding-right: 140px;
    }
    
    .title {
        padding-left: 18%;
    }
}

@media screen and (max-width: 1600px) {
    .body {
        max-width: 75%;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
    
    .brief_detail {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .title {
        padding-left: 12%;
    }
}

@media screen and (max-width: 1500px) {
    .body {
        max-width: 85%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

@media screen and (max-width: 1350px) {
    .body {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 1150px) {
    .body {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 900px) {
    .body {
        flex-direction: column;
    }

    .brief_detail {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .body {
        max-width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}
