.body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    color: #cbcbcb;
}

a {
    color: #cbcbcb;
}

a:hover {
    color: #bbbbbb;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topic {
    padding: 20px 0;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
}

.dated-event {
    display: flex;
    font-weight: bold;
    flex-direction: row;
}

.date {
    margin-left: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}