.body {
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 80px;
    color: #cbcbcb;
}

a {
    color: #74c6ad;
}

a:hover {
    color: #3e987d;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topic {
    padding: 25px 0 0px 0;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
}

.dated-event {
    display: flex;
    padding-top: 10px;
    font-weight: bold;
    flex-direction: row;
}

.date {
    margin-left: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* .pdf-container {
    width: 95%;
    height: 80vh;
    overflow: hidden;
} */

.pdf-container {
    width: 100%;
    height: 80vh;
    overflow: auto; /* Allow scrolling if content spills out */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

@media screen and (max-width: 1100px) {
    .body {
        width: 95%;
        font-size: 14px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}
