            :root {
                --font_: 'Titillium Web', Verdana, Helvetica, sans-serif;
            }

            body {
                font-family: var(--font_);
                ;
                background-image: url("white-concrete-wall.jpg");
                overflow-x: hidden;
                /*background-color: #FAF3DD;*/
            }

            table {
                width: 60%;
                width:
            }

            table.TestimonialBox {
                font-family: var(--font_);
                ;
                background-color: transparent;
                margin-left: auto;
                margin-right: auto;
                align-self: center;
                width: fit-content;
            }

            .carousel {
                width: 200px;
                height: 200px;
            }

            .centered {
                margin-left: 50%;
            }

            .sybols {
                padding-left: 15px;
            }

            ::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                /* background: #BBBBBB; */
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #BBBBBB;
                background-color: #BBBBBB;
                /* color of the scroll thumb */
                border-radius: 20px;
                /* roundness of the scroll thumb */
                border: 3px grey;
                /* creates padding around scroll thumb */
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #BBBBBB;
            }

            /* Design Credits: Jon Barron and Abhishek Kar and Saurabh Gupta*/
            a {
                font-family: var(--font_);
                ;
                color: #52057B;
                text-decoration: none;
            }

            a:focus,
            a:hover {
                color: #f09228;
                text-decoration: none;
            }

            body,
            td,
            th {
                /*background-color: transparent;*/
                /*  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    */
                font-family: var(--font_);
                ;

                font-size: 16px;
                font-weight: 400 margin-left: auto;
            }

            /*body {
    
    width: 800px;
  margin-left: auto;
  margin-right: auto;
  }*/
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--font_);
                ;
                color: #120078;

            }

            heading {
                /*font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    */
                font-family: var(--font_);
                ;
                font-size: 17px;
                /* 19 */
                font-weight: 600
                    /* 1000 */
            }

            strong {
                /*font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;*/
                font-family: var(--font_);
                ;
                font-size: 15px;
                font-weight: 600
                    /* 800 */
            }

            strongred {
                /*  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;*/
                font-family: var(--font_);
                ;
                color: 'red';
                font-size: 16px
            }

            sectionheading {
                /*
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;*/
                font-family: var(--font_);
                ;
                font-size: 22px;
                font-weight: 600
            }

            pageheading {
                /*
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;*/
                font-family: var(--font_);
                ;
                font-size: 38px;
                font-weight: 400
            }

            .Testimonial-Box {
                font-family: var(--font_);
                ;
                border-radius: 4px;
                */ box-shadow: 0 2px 10px rgba(50, 50, 93, .1);
            }

            .ImageBorder {

                background-color: transparent;
                border-width: 1px;
                border-color: Black;
            }

            ._1ZtzsydTxkWv4sgntrtAy4,
            ._2Yo628SRERB659n0UxRzvG {
                background-color: white;
                flex: 1 1 320px;
                margin: 0 10px;
                max-width: 500px;
                border-radius: 4px;
                */ box-shadow: 10px 20px 10px rgba(50, 50, 93, .1);

            }

            ._2vy5R_E0qeoqPgRYRFn1mi {
                background-color: transparent;
                margin: 30px 5px 15px;
                /*  background-color: #EEEDED;*/
                */ border-radius: 4px;
                */ box-shadow: 0 2px 10px rgba(50, 50, 93, .1);
                padding: 45px 20px 20px;
                position: relative;
                height: 600px;
                width: 400px;
                display: flex;
                flex-direction: column;
            }

            ._118W0yf0nCBv8fJbSZmEKH {
                background-color: transparent;
                width: 120px;
                display: block;
                border-radius: 100%;
            }

            ._1h9_0TMhv4WOxJ6klHhYyZ {
                font-size: 20px;
                text-align: center;
                margin: 0 0 10px;
                font-weight: 400;
                color: #02203c;
                background-color: transparent;
            }

            ._2pixJQUDsXM1bvBUIGw31 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0 0px;
                justify-content: center;
                background-color: transparent;
                align-items: flex-end;
            }

            ._118W0yf0nCBv8fJbSZmEKH {
                width: 120px;
                display: block;
            }

            img {
                /*vertical-align: middle;*/
            }

            .F1Vrx58jKtMduKxwFJ8Th {
                font-size: 16px;
                /*font-family: Ubuntu,Helvetica,Arial,sans-serif;*/
                /*font-family: Raleway, sans-serif;*/
                font-family: var(--font_);
                ;
                text-transform: none;
                margin: 0 0 5px;
                font-weight: 400;
                color: #02203c;
                align-self: normal;
            }

            ._3-uzZ_j9lyrMwsqQf6kpDY {
                margin: 10px 0 0;
                align-self: center;
                height: 40px;
            }

            hr {

                border-top: 1px solid blue;
                border-color: purple;
                width: 85%;
                /*position: fixed;*/
            }

            img {
                background-color: transparent;
            }

            li {
                font-family: var(--font_);
                ;
            }

            ._2KKuUlx5EWHCAlRvvNnSWi {
                font-size: 18px;
                font-family: var(--font_);
                ;
                text-align: justify;
            }

            ._1ZtzsydTxkWv4sgntrtAy4,
            ._2Yo628SRERB659n0UxRzvG {
                flex: 1 1 320px;
                margin: 0 10px;
                max-width: 500px;
                width: 320;
                height: 490;
                background-image: url(123.jpg);
            }

            ._2nwSA6TzWdRMxtH6pxdH_s {

                display: inline-block;
                /* border-radius: 50%*/
                ;
                overflow: hidden;
                margin: 0 20px 0 0;
                flex: 0 0 auto;
                position: absolute;
                /* left: calc(50% - 30px);
    top: -30px;*/
                /* box-shadow: 0 3px 5px 0 ;*/
                background-color: #fff;
            }

            .Title_and_stuff {
                text-align: center;
                float: left;
                align-self: flex-end;
            }

            ._2vy5R_E0qeoqPgRYRFn1mi {
                border-top: 5px solid green;
                margin: 30px 5px 15px;
                background-color: transparent;
                border-radius: 4px;
                box-shadow: 0 2px 4px;
                padding: 45px 20px 20px;
                position: relative;
                height: 400px;
                display: flex;
                flex-direction: column;

            }

            ._3IRACUpJuf5zmxb_ipdgBu {
                margin-block-start: inherit;
                background-color: transparent;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: #dadada transparent;
                align-self: center;

            }

            .table-wrapper {
                border: 1px purple;
                width: 500;
                height: 400px;
                overflow: hidden;
            }

            .HR {
                /*position: fixed;*/
                position: relative;
            }

            h1 {
                font-size: 4em;

            }

            .cv {
                font-family: var(--font_);
                ;
                margin-left: 300;
                margin-right: 200;
            }

            .footer-footer {
                width: 100%;
                padding-bottom: 0;
            }

            footer {
                /*position: fixed;*/
                bottom: 0;
                width: 100%;
            }

            footer {
                font-family: Lato, sans-serif;
                color: #808080;
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                text-align: center;
            }

            /*=========================
  Icons
 ================= */
            * {
                margin: 0;
                padding: 0;
            }

            /* footer social icons */
            .footer {
                padding: 20px 0;
                text-align: center;
            }

            ul.social-network {
                list-style: none;
                display: inline;
                margin: auto;
            }

            ul.social-network li {
                display: inline;
                margin: 0 10px;
            }

            /* footer social icons */
            .social-network a.icoFacebook:hover {
                background-color: #3B5998;
            }

            .social-network a.icoTwitter:hover {
                background-color: #33ccff;
            }

            .social-network a.icoMedium:hover {
                background-color: #00AB6C;
            }

            .social-network a.icoQuora:hover {
                background-color: #AA2200;
            }

            .social-network a.icoLinkedin:hover {
                background-color: #007bb7;
            }

            .social-network a.icoInstagram:hover {
                background: #f09433;
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            }

            .social-network a.icoRss:hover i,
            .social-network a.icoFacebook:hover i,
            .social-network a.icoTwitter:hover i,
            .social-network a.icoMedium:hover i,
            .social-network a.icoVimeo:hover i,
            .social-network a.icoLinkedin:hover i {
                color: #fff;
            }

            .social-circle li a {
                display: inline-block;
                position: relative;
                margin: 0 auto 0 auto;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                text-align: center;
                width: 60px;
                height: 60px;
                font-size: 22px;
            }

            .social-circle li i {
                margin: 0;
                line-height: 60px;
                text-align: center;
            }

            .social-circle li a:hover i,
            .triggeredHover {
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -ms--transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }

            .social-circle i {
                color: #fff;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                -ms-transition: all 0.8s;
                transition: all 0.8s;
            }

            .social-circle a {
                background-color: #CCD8EA;
            }

            @media screen and (max-width: 500px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 5px;
                }
            }

            @media screen and (max-width: 450px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 5px;
                }

                .social-circle li a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                }

                .social-circle li i {
                    margin: 0;
                    line-height: 40px;
                    text-align: center;
                }
            }

            @media screen and (max-width: 350px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 2px;
                }

                .social-circle li a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                }

                .social-circle li i {
                    margin: 0;
                    line-height: 40px;
                    text-align: center;
                    width: 100%;
                }
            }

            .footer-top {
                padding: 60px 0;
                background: #333;
                text-align: left;
                color: #aaa;
            }

            .footer.kk {
                background-color: currentColor;
            }

            .footer-footer {
                width: 100%;
                padding-bottom: 0;
                background-color: transparent;
            }

            footer {
                /*position: fixed;*/
                bottom: 0;
                width: 100%;
            }

            footer {
                font-family: Lato, sans-serif;
                color: #808080;
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                text-align: center;
            }

            /*=========================
  Icons
 ================= */
            * {
                margin: 0;
                padding: 0;
            }

            /* footer social icons */
            .footer {
                background-color: transparent;
                padding: 20px 0;
                text-align: center;
            }

            ul.social-network {
                list-style: none;
                display: inline;
                margin: auto;
            }

            ul.social-network li {
                display: inline;
                margin: 0 10px;
            }

            /* footer social icons */
            .social-network a.icoFacebook:hover {
                background-color: #3B5998;
            }

            .social-network a.icoTwitter:hover {
                background-color: #33ccff;
            }

            .social-network a.icoMedium:hover {
                background-color: #00AB6C;
            }

            .social-network a.icoQuora:hover {
                background-color: #AA2200;
            }

            .social-network a.icoLinkedin:hover {
                background-color: #007bb7;
            }

            .social-network a.icoInstagram:hover {
                background: #f09433;
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            }

            .social-network a.icoRss:hover i,
            .social-network a.icoFacebook:hover i,
            .social-network a.icoTwitter:hover i,
            .social-network a.icoMedium:hover i,
            .social-network a.icoVimeo:hover i,
            .social-network a.icoLinkedin:hover i {
                color: #fff;
            }

            .social-circle li a {
                display: inline-block;
                position: relative;
                margin: 0 auto 0 auto;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                text-align: center;
                width: 60px;
                height: 60px;
                font-size: 22px;
                box-shadow: 0 4px 0 gray;
            }

            .social-circle li i {
                margin: 0;
                line-height: 60px;
                text-align: center;
            }

            .social-circle li a:hover i,
            .triggeredHover {
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -ms--transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }

            .social-circle i {
                color: #fff;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                -ms-transition: all 0.8s;
                transition: all 0.8s;
            }

            .social-circle a {
                background-color: #CCD8EA;
            }

            @media screen and (max-width: 500px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 5px;
                }
            }

            @media screen and (max-width: 450px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 5px;
                }

                .social-circle li a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                    box-shadow: 0 4px 0 gray;
                }

                .social-circle li i {
                    margin: 0;
                    line-height: 40px;
                    text-align: center;
                }
            }

            @media screen and (max-width: 350px) {
                ul.social-network li {
                    display: inline;
                    margin: 0 2px;
                }

                .social-circle li a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    font-size: 16px;
                    box-shadow: 0 4px 0 gray;
                }

                .social-circle li i {
                    margin: 0;
                    line-height: 40px;
                    text-align: center;
                    width: 100%;
                    box-shadow: 0 4px 0 gray;
                }
            }

            .footer-top {
                padding: 60px 0;
                background: transparent;
                text-align: left;
                color: black;

            }

            /*.footer.kk {
    background-color: currentColor;
}*/
            @import url('https://fonts.googleapis.com/css?family=Roboto');

            body {
                font-family: 'Roboto', sans-serif;
            }

            * {
                margin: 0;
                padding: 0;
            }

            i {
                margin-right: 10px;
            }

            /*----------multi-level-accordian-menu------------*/
            .navbar-logo {
                padding: 15px;
                color: #fff;
                box-shadow: 0 10 0 gray;
            }

            .navbar-mainbg {
                background-color: #5161ce;
                padding: 0px;
            }

            #navbarSupportedContent {
                overflow: hidden;
                position: relative;
            }

            #navbarSupportedContent ul {
                padding: 0px;
                margin: 0px;
            }

            #navbarSupportedContent ul li a i {
                margin-right: 10px;
            }

            #navbarSupportedContent li {
                list-style-type: none;
                float: left;
            }

            #navbarSupportedContent ul li a {
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
                font-size: 15px;
                display: block;
                padding: 20px 20px;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: relative;
            }

            #navbarSupportedContent>ul>li.active>a {
                color: #5161ce;
                background-color: transparent;
                transition: all 0.7s;
            }

            #navbarSupportedContent a:not(:only-child):after {
                content: "\f105";
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 14px;
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                font-weight: 900;
                transition: 0.5s;
            }

            #navbarSupportedContent .active>a:not(:only-child):after {
                transform: rotate(90deg);
            }

            .hori-selector {
                display: inline-block;
                position: absolute;
                height: 100%;
                top: 0px;
                left: 0px;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                background-color: #fff;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                margin-top: 10px;
            }

            .hori-selector .right,
            .hori-selector .left {
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: #fff;
                bottom: 10px;
            }

            .hori-selector .right {
                right: -25px;
            }

            .hori-selector .left {
                left: -25px;
            }

            .hori-selector .right:before,
            .hori-selector .left:before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #5161ce;
            }

            .hori-selector .right:before {
                bottom: 0;
                right: -25px;
            }

            .hori-selector .left:before {
                bottom: 0;
                left: -25px;
            }




            @media (max-width: 991px) {
                #navbarSupportedContent ul li a {
                    padding: 12px 30px;
                }

                .hori-selector {
                    margin-top: 0px;
                    margin-left: 10px;
                    border-radius: 0;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }

                .hori-selector .left,
                .hori-selector .right {
                    right: 10px;
                }

                .hori-selector .left {
                    top: -25px;
                    left: auto;
                }

                .hori-selector .right {
                    bottom: -25px;
                }

                .hori-selector .left:before {
                    left: -25px;
                    top: -25px;
                }

                .hori-selector .right:before {
                    bottom: -25px;
                    left: -25px;
                }

                .footer-footer,
                .footer,
                .footer-top {
                    background: transparent;
                    background-color: transparent;

                }

                /*=========================
  Icons
 ================= */
                * {
                    margin: 0;
                    padding: 0;
                }

                /* footer social icons */
                .footer {
                    background-color: #FAFCFF;
                    padding: 20px 0;
                    text-align: center;
                }

                ul.social-network {
                    list-style: none;
                    display: inline;
                    margin: auto;
                }

                ul.social-network li {
                    display: inline;
                    margin: 0 10px;
                }

                /* footer social icons */
                .social-network a.icoFacebook:hover {
                    background-color: #3B5998;
                }

                .social-network a.icoTwitter:hover {
                    background-color: #33ccff;
                }

                .social-network a.icoMedium:hover {
                    background-color: #00AB6C;
                }

                .social-network a.icoQuora:hover {
                    background-color: #AA2200;
                }

                .social-network a.icoLinkedin:hover {
                    background-color: #007bb7;
                }

                .social-network a.icoInstagram:hover {
                    background: #f09433;
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
                }

                .social-network a.icoRss:hover i,
                .social-network a.icoFacebook:hover i,
                .social-network a.icoTwitter:hover i,
                .social-network a.icoMedium:hover i,
                .social-network a.icoVimeo:hover i,
                .social-network a.icoLinkedin:hover i {
                    color: #fff;
                }

                .social-circle li a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 60px;
                    height: 60px;
                    font-size: 22px;
                    box-shadow: 0 4px 0 gray;
                }

                .social-circle li i {
                    margin: 0;
                    line-height: 60px;
                    text-align: center;
                }

                .social-circle li a:hover i,
                .triggeredHover {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms--transform: rotate(360deg);
                    transform: rotate(360deg);
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    transition: all 0.2s;
                }

                .social-circle i {
                    color: #fff;
                    -webkit-transition: all 0.8s;
                    -moz-transition: all 0.8s;
                    -o-transition: all 0.8s;
                    -ms-transition: all 0.8s;
                    transition: all 0.8s;
                }

                .social-circle a {
                    background-color: #CCD8EA;
                    box-shadow: 0 4px 0 gray
                }

                @media screen and (max-width: 500px) {
                    ul.social-network li {
                        display: inline;
                        margin: 0 5px;
                    }
                }

                @media screen and (max-width: 450px) {
                    ul.social-network li {
                        display: inline;
                        margin: 0 5px;
                    }

                    .social-circle li a {
                        display: inline-block;
                        position: relative;
                        margin: 0 auto 0 auto;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        box-shadow: 0 4px 0 gray;
                    }

                    .social-circle li i {
                        margin: 0;
                        line-height: 40px;
                        text-align: center;
                    }
                }

                @media screen and (max-width: 350px) {
                    ul.social-network li {
                        display: inline;
                        margin: 0 2px;
                    }

                    .social-circle li a {
                        display: inline-block;
                        position: relative;
                        margin: 0 auto 0 auto;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        box-shadow: 0 4px 0 gray;
                    }

                    .social-circle li i {
                        margin: 0;
                        line-height: 40px;
                        text-align: center;
                    }

                    .footer-top {
                        background: transparent;
                    }
                }
            }

            li {
                margin-left: 5%;
            }

            h2 {
                line-height: 50px;
            }


            h3 {
                line-height: 50px;
            }

            .dates {
                /*  font: message-box;
    font-weight: 700;*/
                font-weight: bold;
            }

            .title {
                font-weight: bold;
            }

            .org {
                font-weight: bold;
            }

            /*span {
  line-height: 13px;
}*/
