.testimonials {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.bold-title {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 35px;
}

@media screen and (max-width: 2000px) {
    .testimonials {
        width: 95%;
        grid-template-columns: repeat(auto-fit, minmax(380, 1fr));
    }
}

@media screen and (max-width: 1750px) {
    .testimonials {
        width: 98%;
        grid-template-columns: repeat(auto-fit, minmax(380, 1fr));
    }
}

@media screen and (max-width: 1500px) {
    .testimonials {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
}

@media screen and (max-width: 400px) {
    .testimonial {
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
        max-width: 100%;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
    }
}

.body {
    background-color: #000000bd;
}